pandas
numpy
scikit-learn
matplotlib
plotly
seaborn
nltk
wordcloud
torch
torchvision
torchaudio
transformers
flask
fastapi
uvicorn
sqlalchemy
pymysql
psycopg2-binary
emoji
contractions
dotenv
streamlit
langdetect